<h1>Welcome to Styled Bits!</h1>

<p>Styled Bits allows you to share code with your peers in the same style as <a href="http://pastebin.com/">Pastebin</a> or <a href="https://gist.github.com/">Gist</a>, but with privacy.</p>

<p><b>No one outside of your company will see your code.</b></p>

<p style="color: red"><%=flash[:notice]%></p>
<p>Enter your domain in the form below to get started:</p>
<%= form_tag(root_path) do %>
	<%= text_field_tag('domain') %>
	<%= submit_tag('Go!') %>
<% end %>