<div class="post">
<pre class="prettyprint"><%=h post.body%></pre>
<p style="font-style: italic;">Posted by <%= post.user.email %> on <a href='<%= url_for(post_path(post))%>'><%= post.created_at %></a>.</p>
</div>