<!DOCTYPE html>
<html>
<head>
  <title>Styled Bits</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
<link href="/prettify/prettify.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/prettify/prettify.js"></script>

</head>
<body onload="prettyPrint()">

<%= yield %>

<p style="font-style: italic; font-size: x-small;">Written by <a href="http://michaelgorsuch.com">Michael Gorsuch</a>.  <a href="http://github.com/gorsuch/styledbits">Source available here</a>.
</body>
</html>
