<!DOCTYPE html>
<html>
<head>
  <title>Styled Bits</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
<link href="/prettify/prettify.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/prettify/prettify.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-96626-18']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body onload="prettyPrint()">

<%= yield %>

<p style="font-style: italic; font-size: x-small;">Written by <a href="http://michaelgorsuch.com">Michael Gorsuch</a>.  <a href="http://github.com/gorsuch/styledbits">Source available here</a>.  Powered by <a href="http://heroku.com">Heroku</a>.
</body>
</html>
